@import url('https://fonts.googleapis.com/css2?family=Barlow+Condense&display=swap');
.calculator {
 padding: 10px;
 border-radius: 2em;
 height: 435px;
 width: 500px;
 margin: auto;
 background-color: #111111;
 box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
 font-family: 'Barlow Condense', sans-serif;
 background-color: #dcdbe1;
 border: solid black 0.5px;
 color: black;
 border-radius: 12px;
 width: 98%;
 height: 80%;
}
.button {
 font-family: 'Barlow Condense', sans-serif;
 background-color: #E94F37;
 color: white;
 border: solid #077187 2px;
 width: 100%;
 border-radius: 30px;
 height: 70%;
 outline: none;
}
.button:active {
 background: #e5e5e5;
 -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
 -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
 box-shadow: inset 0px 0px 5px #c1c1c1;
}

#sub{
  background-color: #DE1A1A;
}

#special{
  background-color: #077187;
}