body {
    color: black;
    font-weight: bold;
    font-size: 30px;
}

button {
    font-size: 30px;;
}

#body {
    background: black;
    border-radius: 26px;
    margin: auto;
    display: block;
    width: 300px;
    height: 400px;
    padding: 2.5% 1%
}

#screen {
    width: 90%;
    height: 10%;
    margin: auto;
    background: white;
    color: black;
    margin-bottom: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5%;
}

.button {
    border-radius: 100px;
    background: white;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button:hover {
    cursor: pointer;
}

#btnPad {
    padding-top: 5%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-row-gap: 10%;
    justify-items: center;
}
