/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     color: black;
}


/******************************************
/* LAYOUT
/*******************************************/
h2 {
     display: block;
     line-height: 75px;
     text-align: right;
     font-size: 36px;
     width: 90%;
     float: left;
}

h3 {
     display: block;
     line-height: 75px;
     text-align: left;
     font-size: 36px;
     width: 10%;
     float: left;
}

section{
     background: black;
     margin: 50px auto;
     margin-bottom: 30px;
     width: 400px;
     height: 500px;
     border-radius: 25px;
     padding-top: 25px;
}

     section>section {
          background: white;
          width: 320px;
          height: 75px;
          border-radius: 0;
          padding: 0 10px;
     }

table {
     width: 300px;
     height: 300px;
     margin: auto;
}
     td {
          width: 75px;
          height: 75px;
          text-align: center;
          margin: 0;
     }

btn {
     display:block;
     margin: auto;
     width: 60px;
     border-radius: 50%;
     line-height: 60px;
     background: white;
     padding: 0;
     text-align: center;
     font-size: 36px;
     font-weight: bold;
     cursor: pointer;
}     
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
