/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.outer {
     background-image: url("calculator.jpg");
     background-repeat: no-repeat;
     border: 2px solid red;
     height: 615px;
     width: 492px;
     margin: 0 auto;
}

.window {
     border: 2px solid red;
     height: 85px;
     width: 335px;
     margin-top: 132px;
     margin-left: 78px;
     text-align: right;
     padding-top: 20px;
}

.window span {
     font-size: 60px;
}

.buttons {
     border: 2px solid yellow;
     height: 289px;
     margin-top: 20px;
     margin-left: 100px;
     margin-right: 95px;
}

.buttons section {
     border: 2px solid white;
     width: 25%;
     height: 25%;
     float: left;
}


/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
