* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100%;
  background-image: url("../images/calculator-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
  color: whitesmoke;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 30em;
  padding: 1em 2em;
  background-color: #595c85;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px,
  rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px,
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.display, .row, button { 
  background-color: white;
  font-size: 3rem;
  text-align: right;
  padding: .2em;
}

.display {
  height: 1.5em;
  margin-bottom: .5em;
  box-shadow: inset 0 0 10px #595c85;
}

.row {
  display: flex;
  justify-content: space-between;
  background-color: #595c85;
}

.btn {
  width: 2em;
  text-align: center;
  border: 1px solid black;
  border-radius: 2em;
  padding: .3em;
  background-color: white;
  box-shadow: 0 8px 6px -6px black;
}

.btn:hover {
  cursor: pointer;
}

button {
  padding: .3em 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}