/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    font-family: sans-serif;
}


main {
    margin: auto;
    padding: 2rem;
}

span {
    display: inline-block;  
    flex-basis: 2rem;
    padding: 0.5rem;
    min-width: 3.5rem;
    background: white;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.15rem;
}


/******************************************
/* LAYOUT
/*******************************************/

h1,
.row {
    width: 100%;
    min-height: 4rem;
}


h1 {
    background: white;
    padding: 1rem;
    margin: 2rem 0 1.5rem 0;
    text-align: right;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Quantico', sans-serif;
}

.row {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#calcBody {
    width: 21rem;
    border-radius: 1.5rem;
    background: black;
    /* min-height: 30rem; */
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.invert {
    color: white;
    background: black;
    border: 1px solid white;
}
