<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Blank Template</title>

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Simple Calculator</h1>
		<div class="container">
			<div class="padding">
				<div class="calc">
					<div class="output">
						<span id="answer"></span>
					</div>
					<div class="inputs">
						<button id="seven" class="input key">7</button>
						<button id="eight" class="input key">8</button>
						<button id="nine" class="input key">9</button>
						<button id="divide" class="input key">/</button>
						<button id="four" class="input key">4</button>
						<button id="five" class="input key">5</button>
						<button id="six" class="input key">6</button>
						<button id="multiply" class="input key">x</button>
						<button id="one" class="input key">1</button>
						<button id="two" class="input key">2</button>
						<button id="three" class="input key">3</button>
						<button id="add" class="input key">+</button>
						<button id="zero" class="input key">0</button>
						<button id="decimal" class="input key">.</button>
						<button id="equal" class="key">=</button>
						<button id="subtract" class="input key">-</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
