<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Your description goes here">
		<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/9d0d3b95e0.js" crossorigin="anonymous"></script>
		<link rel="icon" type="image/png" href="assets/favicon-16x16.png">
		<title>100Devs Calculator</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
	</head>

	<body>
		<main>
			<div id="message">Copied to clipboard!</div>			
			<section class="main-section">
				<!-- readonly disabled dir="ltr" -->
				<i id="copyIcon" class="fa-solid fa-copy"></i>
				<input id="inputBox" type="text" name="input" readonly>
			</section>
			<section class="buttons-section">
				<div id="leftBracket"><span>(</span></div>
				<div id="rightBracket"><span>)</span></div>
				<div id="percent"><span>%</span></div>
				<div id="acButton"><span>AC</span></div>

				<div id="seven" class="diff-color-button"><span>7</span></div>
				<div id="eight" class="diff-color-button"><span>8</span></div>
				<div id="nine" class="diff-color-button"><span>9</span></div>
				<div id="divideOperator"><span>&#247;</span></div>

				<div id="four" class="diff-color-button"><span>4</span></div>
				<div id="five" class="diff-color-button"><span>5</span></div>
				<div id="six" class="diff-color-button"><span>6</span></div>
				<div id="multiplyOperator"><span>X</span></div>

				<div id="one" class="diff-color-button"><span>1</span></div>
				<div id="two" class="diff-color-button"><span>2</span></div>
				<div id="three" class="diff-color-button"><span>3</span></div>
				<div id="subtractSymbol"><span>&#9866;</span></div>

				<div id="zero" class="last-buttons diff-color-button"><span>0</span></div>
				<div id="dot" class="last-buttons diff-color-button"><span>.</span></div>
				<div id="equalSymbol" class="last-buttons equal"><span>=</span></div>
				<div id="additionOperator" class="last-buttons"><span>&#10010;</span></div>
			</section>
		</main>

		<footer>
			<small>Ahmed Hamdy &#169; 2023</small>
			<h6><a href="https://twitter.com/AhmedHHamdyx"><i class="fa-brands fa-twitter"></i></a></h6>
		</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
