<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Blank Template</title>

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com"> 
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
		<link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Simple Calculator</h1>
		<div class="container">
			<div class="padding">
				<div class="calc">
					<div class="output">
						<span id="answer"></span>
					</div>
					<div class="inputs">
						<span id="seven" class="input key">7</span>
						<span id="eight" class="input key">8</span>
						<span id="nine" class="input key">9</span>
						<span id="divide" class="input key">/</span>
						<span id="four" class="input key">4</span>
						<span id="five" class="input key">5</span>
						<span id="six" class="input key">6</span>
						<span id="multiply" class="input key">x</span>
						<span id="one" class="input key">1</span>
						<span id="two" class="input key">2</span>
						<span id="three" class="input key">3</span>
						<span id="add" class="input key">+</span>
						<span id="zero" class="input key">0</span>
						<span id="decimal" class="input key">.</span>
						<span id="equal" class="key">=</span>
						<span id="subtract" class="input key">-</span>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
