<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Calculator</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<section class="calculator">
			<section>
				<input type="text" class="display" value="" disabled/>
			</section>
			<section class="keys">
				
				<button class="round" value="7">7</button>
				<button class="round" value="8">8</button>
				<button class="round" value="9">9</button>
				<button class="round operator" value="/">/</button>
				<button class="round" value="4">4</button>
				<button class="round" value="5">5</button>
				<button class="round" value="6">6</button>
				<button class="round operator" value="*">x</button>
				<button class="round" value="1">1</button>
				<button class="round" value="2">2</button>
				<button class="round" value="3">3</button>
				<button class="round operator" value="+">+</button>
				<button class="round" value="0">0</button>
				<button class="round decimal" value=".">.</button>
				<button class="round operator" value="=">=</button>
				<button class="round operator" value="-">-</button>
				<button class="square clear" value="cls">CLS</button>
			</section>
			
		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
