body {
    height: 1000px;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 25%;
    height: auto;
    background-color: black;
    border-radius: 25px;
    margin: 100px;
}

h1{
    /* display: block; */
    width: 75%;
    height: 40px;
    margin: 20%  auto 5% auto;
    padding: 15% 6% 0 6%;
    background-color: white;
    border-radius: 3px;
    text-align: right;
    color: black;
    

}

section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin: 1% 0;
}

.fourthDown {
    margin-bottom: 10%;
}


p{
    position: relative;
    width: 15%;
    height: 100%;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 50%;
    flex-grow: 0;
    margin: 0 1%;
    font-size: 60px;
    font-weight: 700;   
    text-align: center;
    background-color: white; 
}

p:hover{
    cursor: pointer;
}

p:active {
    position: absolute border;
    border: 1px solid white;
    transform: translateY(2%);
    /* transform: translateX(-2%); */
    background-color: wheat;
    color: rgb(65, 65, 65);
}