* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to right, #7ba87b, #2debeb, #caca96f6,  #6e3131);
}

.calculator {
    position: relative;
}

.display-box {
    width: 69%;
    height: 87px;
    position: absolute;
    top: 130px;
    right: 76px;
    font-size: 3rem;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2.5%;
}

.calculator-number-section {
    width: 60%;
    height: 284px;
    position: absolute;
    top: 241px;
    right: 97px;
    display: flex;
    flex-wrap: wrap;
}

.calculator-buttons {
    width: 25%;
    border-radius: 100%;
}

.calculator-buttons:hover {
    background-color: rgba(23, 138, 103, 0.251);
    cursor: pointer;
} 
