* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #343333;
}

.calculator {
    border: 1px solid #454444;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0px 3px 16px rgba(113, 115, 119, 0.5);
    background: transparent;
}
 
input{
    width: 320px;
    border: none;
    outline: none;
    padding :24px;
    margin: 10px;
    background: transparent;
    box-shadow: inset 15px 20px 15px  rgba(0,  0, 0, 0.08),
    10px 15px 20px  rgba(0,  0, 0,  0.08),
    10px 15px 20px  rgba(0,  0, 0,  0.08),
    inset -20px -20px 15px rgba(50, 50, 50, 0.9);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ccc;
}

input::placeholder{
    color: #dbd8d8;
}

button{
    border: none;
    width: 60px;
    height: 55px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    cursor: pointer;
    box-shadow: inset 6px 6px 7px  rgba(0,  0, 0, 0.08),
    7px 8px 9px  rgba(0,  0, 0,  0.08),
    10px 15px 20px  rgba(0,  0, 0,  0.08),
    inset -20px -20px 15px rgba(50, 50, 50, 0.9);
}

.equals{
    color: #fff;
    background-color: #50adff;
    box-shadow: inset 6px 6px 7px  rgba(0,  0, 0, 0.08),
    7px 8px 9px  rgba(0,  0, 0,  0.08),
    10px 15px 20px  rgba(0,  0, 0,  0.08),
    inset -20px -20px 15px rgba(7, 101, 163, 0.9);
}