/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
    width: 25%;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/