* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%
}
/***************************************
layout
***************************************/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
main {
    width: 30rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
}
.display {
    height: 20%;
}
.keys {
    height: 80%;
}
.s {
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.buttons {
    flex-basis: 25%;
}
/***************************************
Additional Styles
***************************************/
main {
    padding: 4rem 2rem;
    border-radius: 2rem;
    background: rgb(0, 0, 0);
}
.display {
    background: rgb(255, 255, 255);

}
.keys {
    padding: 2rem 2rem 0 2rem
}
.s {
    padding: 0.3rem 0;
    margin-bottom: 0.3rem;
}
.buttons:not(:last-of-type) {
    margin-right: 1rem
}
.buttons {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    display: inline-block;
   font-size: 2.5rem;
   font-weight: 700;
}