/* Font set to 12px. Allows REMs to be used easily */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

/* Zero out margins, padding */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Position places element in the center 
    Transform moves element more to the center
*/
.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 400px; */
    background-color: black;
    /* border: 2px solid red; */
}

.calculator-screen {
    font-size: 5rem;
}