*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font: normal 400 62.5% Arial, sans-serif;
}


#calcBase {
    width: 100vw;
    height: 100vh;
    background: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calc-bg {
    width: 40rem;
    height: 60rem;
    border-radius: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    padding: 2rem;
    background: linear-gradient(45deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .4) 50%, rgba(100, 100, 100, 0.8) 95%);
    box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, .2);
}
.calc-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 16px;
    box-shadow: inset 0px -0px 16px 2px rgba(0, 0, 0, .9);
}

.calc-display {
    height: 80%;
    grid-column: 1 / 5;
    background: #a2c0a2;
    overflow: hidden;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    font: normal 400 5rem 'courier', sans-serif;
    border-radius: 1.6rem;
    box-shadow: inset 0px 2px 8px 2px rgba(0, 0, 0, .2);
}

.calc-buttons {
    grid-column: 1 / 5;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    justify-items: center;
}

.calc-buttons span {
    display: inline-block;
    width: 80%;
    height: 60%;
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, .4);
    /* background: rgba(150, 150, 150, 1); */
    background: rgba(255, 255, 255, .7);
    position: relative;
}

.calc-buttons span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 99px;
    box-shadow: inset 0px -2px 3px 1px rgba(0, 0, 0, .4);
    transition: all .2s ease;
}

.calc-buttons span:hover::before {
    box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, .4);
}