html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; /*for each nexted element, consider parent 100% width and height */
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    
    width: 400px;
    padding: 40px;
    padding-top: 75px;
    background-color: black;
    border-radius: 30px;
    /* border: 2px solid red; */
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: azure;
    color: black;
    text-align: right;
    padding: 0 10px 0 0;
    /* border: 2px solid green; */
}

.calculator-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px 10px 5px 10px;
    /* border: 2px solid yellow; */
}

button {
    height: 60px;
    background-color: white;
    border: none;
    border-radius: 30px;
    font-size: 4rem;
    font-weight: bold;
    color: black;
    margin: 7px;
    padding: 5px;
    flex: 1 0 18%;
}

.all-clear {
    background-color: red;
    font-size: 3rem;
    color: white;
}
