* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%
}
/***************************************
layout
***************************************/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
main {
    width: 30rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
}
.display {
    height: 20%;
}
.keys {
    height: 80%;
}
.keySet {
    height: 25%;
    display: flex;
    justify-content: space-between;
}
.buttons {
    flex-basis: 25%;
}
/***************************************
Additional Styles
***************************************/
main {
    padding: 4rem 2rem;
    border-radius: 2rem;
    background: rgb(0, 0, 0);
}
.display {
    background: rgb(255, 255, 255);

}
.keys {
    padding: 2rem 2rem 0 2rem
}
.keySet {
    padding: 0.3rem 0;
    margin-bottom: 0.3rem;
}
.buttons:not(:last-of-type) {
    margin-right: 1rem
}
.buttons {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 2.5rem;
    font-weight: 700;
}
.buttons:hover {
    cursor: pointer;
}
.buttons:active {
    cursor: pointer;
    background-color: rgb(48, 47, 47);
    color:rgb(255, 255, 255);
    transform: translateY(0.3rem);
    box-shadow: 0.2rem 0.2rem 0.3rem 0.3rem rgb(71, 71, 71);
}
/***************************************
mobile for screen size less than 350px
***************************************/
@media all and (max-width: 350px) {
    main {
        width: 20rem;
        height: 27rem;
        padding: 2rem 1rem;
    }
    .keys {
        padding: 1rem 1rem 0 1rem
    }
    h3 {
        display: inline-block;
       font-size: 1.5rem;
       font-weight: 700;
    }
} 
/***************************************
mobile for screen size less than 350px
***************************************/
@media all and (max-width: 230px) {
    main {
        width: 16rem;
        height: 19rem;
        padding: 1.5rem 0.7rem;
    }
    .keys {
        padding: 0.7rem 0.7rem 0 0.7rem
    }
    h3 {
        display: inline-block;
       font-size: 1rem;
       font-weight: 700;
    }
}