/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
  font-size: 62.5%;
}


body {
  height: 100vh;
  padding-top: 9%;
  background-color: #2A303C;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* Main Section
/*******************************************/
main {
  width: 50%;
  margin: 0 auto;
  position: relative;
}


.main-section {
  height: 9vh;
  /* border: 1px solid black; */
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2%;
  border-radius: 4px;
  position: relative;
  padding-left: 10%;
  background: rgba(36, 41, 51, 0.8);
}

.main-section input {
  display: block;
  border: 0;
  width: 100%;
  height: 8.8vh;
  margin: 0 auto;
  font-size: 3rem;
  border-radius: 4px;
  background: rgba(36, 41, 51, 0.8);
  /* background: #2d333e; */
  color: #A6ADBB;
  text-align: right;
}

.main-section input:focus {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-section input::selection {
  background-color: #5B7190;
  color: #A6ADBB;
}

.fa-copy {
  font-size: 2.9rem;
  color: #313742;
  position: absolute;
  top: 8px;
  left: 20px;
  border-radius: 6px;
  padding: 2.5%;
}

.fa-copy:hover {
  color: #5B7190;
  background: #313742;
}

#message {
  display: none; 
  background-color: #5B7190; 
  color: white; 
  width: 15%; 
  padding: 8px; 
  border-radius: 2px;
  position: absolute;
  top: -35px;
  left: 171px;
} 

/******************************************
/* Buttons Section
/*******************************************/
.buttons-section {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3%;
  /* border: 1px solid black; */
  border-radius: 4px;
  background: #242933;
}

.buttons-section div {
  border: 1px solid black;
  height: 8vh;
  flex-basis: 21%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #191D24;
  color: #A6ADBB;
}

div span {
  font-size: 3rem;
}

.last-buttons {
  margin-bottom: 4%;
}

div.diff-color-button {
  background: #7B92B2;
  color: #242833;
}



.buttons-section div  {
  border: 0;
  box-shadow: 0 5px 0 #313742;
  cursor: pointer;
  outline: 0;
  transition: all .1s linear;
}

.buttons-section div:active {
  box-shadow: 0 2px 0 #242833;
  transform: translateY(3px);

}


div.diff-color-button {
  border: 0;
  box-shadow: 0 5px 0 #5b7190;
  cursor: pointer;
  outline: 0;
  transition: all .1s linear;
}

div.diff-color-button:active {
  box-shadow: 0 2px 0 #242833;
  transform: translateY(3px);
}

div.equal {
  background: #1FB2A5;
  color: #FFFFFF;
  border: 0;
  box-shadow: 0 5px 0 #1d655f;
  cursor: pointer;
  outline: 0;
  transition: all .1s linear;
}

div.equal:active {
  box-shadow: 0 2px 0 #242833;
  transform: translateY(3px);
}

  
/******************************************
/* Media Query
/*******************************************/


@media all and (min-width: 300px) and (max-width: 500px) {
  body {
    width: 100%;
  }

  main {
    width: 80%;
  }

  .buttons-section {
    width: 100%;
  }

  .main-section {
    width: 100%;
  }

  #message {
    /* display: none;  */
    background-color: #5B7190;
    color: white;
    width: 36%;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    top: -34px;
    left: 2px;
  } 

  .fa-copy {
    font-size: 2.9rem;
    color: #313742;
    position: absolute;
    top: 12px;
    left: 20px;
    border-radius: 6px;
    padding: 2.5%;
  }
}



@media all and (min-width: 500px) and (max-width: 1500px) {
  
  body {
    width: 100%;
  }

  /* main {
    width: 100%;
  } */

  .buttons-section {
    width: 100%;
  }

  .main-section {
    width: 100%;
  }

  #message {
    /* display: none;  */
    background-color: #5B7190;
    color: white;
    width: 36%;
    padding: 8px;
    border-radius: 2px;
    position: absolute;
    top: -34px;
    left: 2px;
  } 

  .fa-copy {
    font-size: 2.9rem;
    color: #313742;
    position: absolute;
    top: 12px;
    left: 20px;
    border-radius: 6px;
    padding: 2.5%;
  }
}







/******************************************
/* Footer
/*******************************************/

footer {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
  font-size: 1.4rem;
  display: flex;
  gap: 1%;
  justify-content: center;
  color: #7B92B2;
}

footer a {
  color: #1FB2A5;
}






/******************************************
/* ADDITIONAL STYLES
/*******************************************/







/******************************************
/* ADDITIONAL STYLES
/*******************************************/
