html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
    background:#aaa;
    color:darkgreen;
    text-align:center;
}
h1{
    font-size:large;
    font-weight:bold;
    padding: 2rem;
}
#calculator{
    background: #333;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    max-width: 50%;
    margin: auto;
    padding:2rem 0;
    gap:2rem;

}
ul{
    list-style-type: none;
}
.display{
    display:flex;
    box-sizing: border-box;
    align-items:center;
    padding-left:2rem;
    background:#fff;
    color:#333;
    height:5rem;
    width:70%;
    font-size:3rem;
}
.button-panel{
    display:flex;
    flex-wrap:wrap;
    width:40%;
    gap:1rem;
    height:300px;
}
.button{
    flex: 1 1 25%;
    min-height:2rem;
    background:orange;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:2rem;
}

.operator {
    flex: 1 1 25%;
}
#equals{
    flex: 1 1 100%;
}