* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; /* equals 10px by default. Use % for accessibility */
}

h1 {
    font-size: 5em;
    margin: 2rem 0;
    text-align: center;
}

.calculator {
    max-width: 42em; /* 450 px */
    margin: 0 auto;
    border-radius: 3em;
    background-color: black;
}

.calc-container {
    padding: 8em 4em 3em;
}

.screen {
    font-size: 2rem;
    height: 5rem;
    max-width: 100%;
    background-color: aliceblue;
    margin-bottom: 2rem;
    word-wrap: break-word;
    overflow: scroll;
}

.buttons {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button {
    font-size: 5em;
    font-weight: 700;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    margin: 2%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: lightgray;
    cursor: pointer;
}