<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three">

		<title>Push Calculator</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<!-- Main -->
		<main class="container">
			<p class="screen" id="display"></p>
			<section class="buttonsBox">
				<section>
					<button id="seven" value="7">7</button>
					<button id="eight" value="8">8</button>
					<button id="nine" value="9">9</button>
					<button id="divide" value="/">/</button>
				</section>
				<section>
					<button id="four" value="4">4</button>
					<button id="five" value="5">5</button>
					<button id="six" value="6">6</button>
					<button id="multiply" value="*">x</button>
				</section>
				<section>
					<button id="one" value="1">1</button>
					<button id="two" value="2">2</button>
					<button id="three" value="3">3</button>
					<button id="plus" value="+">+</button>
				</section>
				<section>
					<button id='zero' value="0">0</button>
					<button id='comma' value=".">.</button>
					<button id='equal' value="=">=</button>
					<button id='minus' value="-">-</button>
				</section>
			</section>
		</main>
		<h2></h2>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>