html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

.calculator {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background-color: black;
	border: 2px solid red;
}

.calculator-screen {
	width: 100%;
	font-size: 5rem;
	height: 80px;
	border: none;
	background-color: white;
	color: black;
	text-align: right;
	padding-right: 10px;
	border: 2px solid green;
}
